.example-table {
  width: 100%;
  overflow: auto;
}
.mat-paginator {
  width: 100%;
}
.mat-row .mat-cell {
  /*border-bottom: 1px solid transparent;*/
  /*border-top: 1px solid transparent;*/
  border-color: #9e9e9e;
  cursor: pointer;
}

.mat-row:hover .mat-cell {
  border-color: currentColor;
}

.demo-row-is-clicked {
  font-weight: bold;
}

