<mat-chip-list>
  <mat-chip color="primary" selected="true">Permission : {{nameRole}}</mat-chip>
</mat-chip-list>

<div style="margin-top: 20px">
  <table class="example-table mat-elevation-z8 mat-table" mat-table recycleRows [dataSource]="dataSource">
<!--    <ng-container matColumnDef="id" >-->
<!--      <th mat-header-cell *matHeaderCellDef> Id</th>-->
<!--      <td mat-cell *matCellDef="let element"> {{element.id}} </td>-->
<!--    </ng-container>-->
    <!-- Name Column -->
    <ng-container matColumnDef="createDate" sticky>
      <th mat-header-cell *matHeaderCellDef> CreateDate</th>
      <td mat-cell *matCellDef="let element"> {{element.createDate | date :'short'}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="status" style="width:2rem">
      <th mat-header-cell *matHeaderCellDef> Status </th>
      <td mat-cell *matCellDef="let element"> {{element.clever}} </td>
    </ng-container><!-- Weight Column -->

    <ng-container matColumnDef="note">
      <th mat-header-cell *matHeaderCellDef>Note</th>
      <td mat-cell *matCellDef="let element"> {{element.notes}} </td>
    </ng-container>
    <ng-container matColumnDef="assigned">
      <th mat-header-cell *matHeaderCellDef>ASSIGNED</th>
      <td mat-cell *matCellDef="let element"></td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> FULL NAME</th>
      <td mat-cell *matCellDef="let element"> {{element.name}}</td>
    </ng-container>
    <!-- Symbol Column -->
    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef> PHONE NUMBER</th>
      <td mat-cell *matCellDef="let element"> {{element.phoneNumber}}</td>
    </ng-container>
    <!-- Symbol Column -->
    <ng-container matColumnDef="address" style="width: 400px">
      <th mat-header-cell *matHeaderCellDef> ADDRESS</th>
      <td mat-cell *matCellDef="let element"> {{element.address}}</td>
    </ng-container>
    <!-- Symbol Column -->
    <ng-container matColumnDef="province" style="width: 400px">
      <th mat-header-cell *matHeaderCellDef> PROVINCE</th>
      <td mat-cell *matCellDef="let element"> {{element.province}}</td>
    </ng-container>
    <!-- Symbol Column -->
    <ng-container matColumnDef="district" style="width: 400px">
      <th mat-header-cell *matHeaderCellDef> DISTRICT</th>
      <td mat-cell *matCellDef="let element"> {{element.district}}</td>
    </ng-container>
    <!-- Symbol Column -->
    <ng-container matColumnDef="barangay" style="width: 400px">
      <th mat-header-cell *matHeaderCellDef> BARANGAY</th>
      <td mat-cell *matCellDef="let element"> {{element.barangay}}</td>
    </ng-container>
    <!-- Symbol Column -->
    <ng-container matColumnDef="produce" style="width: 400px">
      <th mat-header-cell *matHeaderCellDef> PRODUCE</th>
      <td mat-cell *matCellDef="let element"> {{element.produce}}</td>
    </ng-container>
    <!-- Symbol Column -->
    <ng-container matColumnDef="detail">
      <th mat-header-cell *matHeaderCellDef> DETAIL</th>
      <td mat-cell *matCellDef="let element"> {{element.detail}}</td>
    </ng-container>
    <!-- Symbol Column -->
    <ng-container matColumnDef="marketer">
      <th mat-header-cell *matHeaderCellDef> Marketer</th>
      <td mat-cell *matCellDef="let element"> {{element.marketer}}</td>
    </ng-container>
    <!-- Symbol Column -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching"</td>
    </tr>
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [length]="length"
                 [pageSizeOptions]="[5, 10, 25, 100]"
                 [pageSize]="pageSize"
                 (page)="changePage($event)">
  </mat-paginator>

</div>

