/* Structure */
.example-container {
  width: 350%;
  display: flex;
  flex-direction: column;
}

.example-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-row:hover .mat-cell {
  border-color: #9e9e9e;
}

.example-table {
  width: 400%;
  overflow: auto;
  overflow: fragments;
}
/*.mat-paginator {*/
/*  width: 100%;*/
/*}*/
.mat-row .mat-cell  {
  border-bottom: 0.5px solid;
  border-top: 0.5px solid;
  border-left: 0.5px solid;
  border-right: 0.5px solid;
  border-color: #9e9e9e;
  cursor: pointer;
}

/*.mat-row:hover .mat-cell {*/
/*  border-color: currentColor;*/
/*}*/

.demo-row-is-clicked {
  font-weight: bold;
}

/*.mat-column-detail {*/
/*  flex: 0 0 5%;*/
/*}*/

/*.mat-column-customer {*/
/*  flex: 0 0 4%;*/
/*}*/

/*.mat-column-odzbyaheros {*/
/*  flex: 0 0 1%;*/
/*}*/

/*.mat-column-jntCod {*/
/*  flex: 0 0 1%;*/
/*}*/

/*.mat-column-ninjaCod {*/
/*  flex: 0 0 1%;*/
/*}*/

/*.mat-column-bexCod {*/
/*  flex: 0 0 1%;*/
/*}*/

/*.mat-column-gogoCod {*/
/*  flex: 0 0 1%;*/
/*}*/

/*.mat-column-lbcCod {*/
/*  flex: 0 0 1%;*/
/*}*/

/*.mat-column-clevel {*/
/*  flex: 0 0 1.3%;*/
/*}*/

/*.mat-column-staff {*/
/*  flex: 0 0 1%;*/
/*}*/

/*.mat-column-addressJnt {*/
/*  flex: 0 0 4%;*/
/*}*/
/*.mat-column-tool {*/
/*  flex: 0 0 1%;*/
/*}*/


