<div fxLayout="row" fxLayoutAlign="center center" >
  <mat-card>

        <mat-card-content>
          <form class="basic-form" [formGroup]="accountFormOne">
            <div fxLayout="column" fxLayoutAlign="space-around center">
              <mat-card-title>Login</mat-card-title>
            </div>
            <div fxLayout="column" fxLayoutAlign="space-between center">
              <div fxFlex.gt-sm="100" fxFlex="200">
                <mat-form-field>
                  <input matInput placeholder="Username" type="text" formControlName="username" required>
                </mat-form-field>
              </div>
              <div fxFlex.gt-sm="100" fxFlex="200">
                <mat-form-field>
                  <input matInput placeholder="Enter password" type="password" formControlName="password" required>
                </mat-form-field>
              </div>
              <div fxFlex.gt-sm="100" fxFlex="200">
                <button mat-raised-button color="primary" type="submit" (click)="onSubmit($event)">login</button>
              </div>
            </div>
          </form>
        </mat-card-content>


  </mat-card>
</div>
<div *ngIf="isLoggedIn">Đăng nhập thành công</div>



