<mat-card>
  <mat-card-content>
  <form [formGroup]="fromGroup">
    <div  fxLayout="row" fxLayoutAlign="space-between center">
      <mat-form-field appearance="fill">
        <mat-label>C LEVEL</mat-label>
        <mat-select
          formControlName="clevel">
<!--          [style.background-color]="element.clevel == 'C0'? 'orangered' -->
<!--          : element.clevel == 'C1' ? 'yellow' -->
<!--          : element.clevel == 'C2' ? 'lawngreen' -->
<!--          : element.clevel == 'C3' ? 'cyan' : 'white'"-->

          <mat-option value="C0" style="background-color: orangered">C0</mat-option>
          <mat-option value="C1" style="background-color: yellow">C1</mat-option>
          <mat-option value="C2" style="background-color: lawngreen">C2</mat-option>
          <mat-option value="C3" style="background-color: cyan">C3</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>CALL REASON</mat-label>
        <mat-select
          formControlName="callReason">
          <mat-option value="1" style="background-color: orangered">Pricing</mat-option>
          <mat-option value="2" style="background-color: orangered">Authenticity</mat-option>
          <mat-option value="3" style="background-color: orangered">Not Interested</mat-option>
          <mat-option value="4" style="background-color: orangered">Financial Issue</mat-option>
          <mat-option value="5" style="background-color: orangered">Wrong Customer</mat-option>
          <mat-option value="6" style="background-color: orangered">Invalid Phone Number</mat-option>
          <mat-option value="7" style="background-color: orangered">ODZ</mat-option>
          <mat-option value="8" style="background-color: orangered">Duplicate</mat-option>
          <mat-option value="9" style="background-color: orangered">Scam</mat-option>
          <mat-option value="15" style="background-color: orangered">Too Many Attempts</mat-option>
          <mat-option value="10" style="background-color: yellow">First Attempt</mat-option>
          <mat-option value="11" style="background-color: yellow">Second Attempt</mat-option>
          <mat-option value="12" style="background-color: yellow">Third Attempt</mat-option>
          <mat-option value="13" style="background-color: yellow">Fourth Attempt</mat-option>
          <mat-option value="14" style="background-color: yellow">Fifth Attempt</mat-option>
          <mat-option value="16" style="background-color: lawngreen">Confirmed Single Order</mat-option>
          <mat-option value="17" style="background-color: lawngreen">Uploaded Single Order</mat-option>
          <mat-option value="18" style="background-color: lawngreen">Confirmed Combo Order</mat-option>
          <mat-option value="19" style="background-color: lawngreen">Uploaded Combo Order</mat-option>
          <mat-option value="20" style="background-color: cyan">Out of Stock</mat-option>
          <mat-option value="21" style="background-color: cyan">Area Lockdown</mat-option>
          <mat-option value="22" style="background-color: cyan">For Address Checking</mat-option>
        </mat-select>      </mat-form-field >
      <mat-form-field appearance="fill">
        <mat-label>Id</mat-label>
        <input matInput formControlName="id"
                disabled>      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>STAFF</mat-label>
        <input matInput formControlName="staff" type="text">
      </mat-form-field >
      <mat-form-field appearance="fill">
        <mat-label>Customer</mat-label>
        <input matInput  formControlName="customer" type="text">
      </mat-form-field>
    </div>
    <div  fxLayout="row" fxLayoutAlign="space-between center">
      <mat-form-field appearance="fill">
        <mat-label>MOBILE NUMBER</mat-label>
        <input matInput formControlName="mobileNumber" type="text">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>PRODUCE</mat-label>
        <input matInput formControlName="produce" type="text">
      </mat-form-field >
      <mat-form-field appearance="fill">
        <mat-label>PROVINCE</mat-label>
        <input matInput formControlName="province" type="text">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>CITY</mat-label>
        <input matInput formControlName="district" >
      </mat-form-field >
      <mat-form-field appearance="fill">
        <mat-label>Barangay</mat-label>
        <input matInput formControlName="subdistrict" type="text">
      </mat-form-field>
    </div>
    <div fxLayout="column" fxLayoutAlign="space-around none" >
      <mat-form-field appearance="fill">
        <mat-label>ADDRESS</mat-label>
        <input matInput formControlName="address" type="text">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>DETAIL</mat-label>
        <input matInput formControlName="detail" type="text">
      </mat-form-field >
      <mat-form-field appearance="fill">
        <mat-label>ADDRESS JNT</mat-label>
        <input matInput formControlName="addressJnt" type="text">
      </mat-form-field >
    </div>
    <div  fxLayout="row" fxLayoutAlign="space-between center">
      <mat-form-field appearance="fill">
        <mat-label>MARKETER</mat-label>
        <input matInput formControlName="marketer" type="text">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>STATUS DELIVERY</mat-label>
        <input matInput formControlName="statusDelivery" type="text">
      </mat-form-field >
      <mat-form-field appearance="fill">
        <mat-label>COURIER</mat-label>
        <input matInput formControlName="courier" type="text">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>CREATE DATE</mat-label>
        <input matInput formControlName="timestamp" type="date">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>PRICE</mat-label>
        <input matInput formControlName="price" type="text">
      </mat-form-field >
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between center">

      <mat-form-field appearance="fill">
        <mat-label>QT1</mat-label>
        <input matInput formControlName="qty1" type="text">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>PRODUCT1</mat-label>
        <input matInput formControlName="product1" type="text">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>QT2</mat-label>
        <input matInput formControlName="qty2" type="text">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>PRODUCT2</mat-label>
        <input matInput formControlName="product2" type="text">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>QT3</mat-label>
        <input matInput formControlName="qty3" type="text">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>PRODUCT3</mat-label>
        <input matInput formControlName="product3" type="text">
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <mat-form-field appearance="fill">
        <mat-label>CHAT PAGE</mat-label>
        <input matInput formControlName="chatPage" type="text">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>FREE</mat-label>
        <input matInput formControlName="free" type="text">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>FREEBIE PRODUCT</mat-label>
        <input matInput formControlName="freebieProduct" type="text">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>SET</mat-label>
        <input matInput formControlName="setSale" type="text">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>QTY</mat-label>
        <input matInput formControlName="qty" type="text">
      </mat-form-field>

    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>TOTAL PRODUCT NAMES</mat-label>
        <input matInput formControlName="totalProductNames" type="text">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>JNT TOTAL PRODUCT TEMPLATE</mat-label>
        <input matInput formControlName="jntTotalProductTemplate" type="text">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>JNT PRODUCT CODE FORMULA</mat-label>
        <input matInput formControlName="jntProductCodeFormula" type="text">
      </mat-form-field>

    </div>
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <mat-form-field appearance="fill">
        <mat-label>BEXPROCODE</mat-label>
        <input matInput formControlName="bexProCode" type="text">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>BRGY CITY PROVINCE</mat-label>
        <input matInput formControlName="brgyCityProvince" type="text">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>ADD CHECK</mat-label>
        <input matInput formControlName="addcheck" type="text">
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <mat-form-field appearance="fill">
        <mat-label>ODZ BYAHEROS</mat-label>
        <mat-icon *ngIf="data.odzbyaheros === '1'" style="background-color: green">check</mat-icon>
        <mat-icon *ngIf="data.odzbyaheros === '0'" style="background-color: red">check</mat-icon>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>JNT COD</mat-label>
        <mat-icon *ngIf="data.jntCod === '1'" style="background-color: green">check</mat-icon>
        <mat-icon *ngIf="data.jntCod === '0'" style="background-color: red">check</mat-icon>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>NINJACOD</mat-label>
        <mat-icon *ngIf="data.ninjaCod === '1'" style="background-color: green">check</mat-icon>
        <mat-icon *ngIf="data.ninjaCod === '0'" style="background-color: red">check</mat-icon>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>BEXCODE</mat-label>
        <mat-icon *ngIf="data.bexCod === '1'" style="background-color: green">check</mat-icon>
        <mat-icon *ngIf="data.bexCod === '0'" style="background-color: red">check</mat-icon>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>GOGOCOD</mat-label>
        <mat-icon *ngIf="data.gogoCod === '1'" style="background-color: green">check</mat-icon>
        <mat-icon *ngIf="data.gogoCod === '0'" style="background-color: red">check</mat-icon>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>LBCCOD</mat-label>
        <mat-icon *ngIf="data.lbcCod === '1'" style="background-color: green">check</mat-icon>
        <mat-icon *ngIf="data.lbcCod === '0'" style="background-color: red">check</mat-icon>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="fill">
        <mat-label>BEX BRGY</mat-label>
        <input matInput formControlName="bexBrgy" type="text">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>BEX POUCHES</mat-label>
        <input matInput formControlName="bexPouches" type="text">
      </mat-form-field>
    </div>
  </form>
  </mat-card-content>
</mat-card>
